<form method="post"> 
    nome: <input type="text" name="nome"> <br>
    login: <input type="text" name="login"> <br>
    senha: <input type="password" name="senha"> <br>
    <button type="submit">Enviar</button>
</form>