<div class="card m-3 p-5">
    <h2>Crie o novo lanche</h2>
    <br>
    <form method="post">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="formGroupExampleInput"
                placeholder="Digite o nome do lanche">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Preço</label>
            <input type="text" name="preco" class="form-control" id="formGroupExampleInput" placeholder="R$XX,XX">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Descrição</label>
            <input type="text" name="descricao" class="form-control" id="formGroupExampleInput"
                placeholder="Digite a descrição do lanche">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>