<h2>{{response.titulo}}</h2>
<form method="post">
    <hr>
    <p>Deseja realmente deletar o Usuário
        <strong>{{response.data.nome}}</strong>
        <hr>
        <button type="submit" class="btn btn-success">Sim</button>
        <a href="/usuario" class="btn btn-danger">Não</a>
    </p>
</form>