<div class="login">
  <img src="/images/hamburger.png" alt="">
  <h1 class="logo">La Boucherie</h1>
  {{>_msg}}
  <form method="post">
    <div class="form-group">
      <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
    </div>
    <div class="form-group">
      <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
    </div>
    <div class="form-group">
      <button type="submit">Entrar</button>
    </div>
  </form>
  <p style="font-weight: 300 ;">Não tem login? <a href="/usuario/add">Cadastre-se já!</a> </p>
</div>