<div class="card m-3 p-5">
    <h2>Cadastro de Usuário</h2>
    <br>
    <form method="post">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nome</label>
            <input type="text" name="nome" class="form-control" id="formGroupExampleInput" placeholder="Digite seu nome completo">
        </div>  
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Telefone</label>
            <input type="number" name="telefone" class="form-control" id="formGroupExampleInput" placeholder="(xx)xxxxx-xxxx">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Endereço</label>
            <input type="text" name="endereco" class="form-control" id="formGroupExampleInput" placeholder="Digite seu endereço">
        </div> 
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" name="email" placeholder="Digite seu e-mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" name="senha" placeholder="Digite sua senha" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>