<body>
    <div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
	<main>
		<section>
			<h3>Informações pessoais</h3>
			<ul>
				<li><strong>Nome:</strong> Fulano de Tal</li>
				<li><strong>Email:</strong> fulano@gmail.com</li>
				<li><strong>Telefone:</strong> (11) 1234-5678</li>
				<li><strong>Endereço:</strong> Rua X, 123 - São Paulo/SP</li>
			</ul>
			<a href="#">Editar informações</a>
		</section>
		<section>
			<h3>Histórico de pedidos</h3>
			<table>
				<thead>
					<tr>
						<th>Data</th>
						<th>Itens</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>01/05/2023</td>
						<td>Pizza de Calabresa, Refrigerante 2L</td>
						<td>R$ 35,00</td>
					</tr>
					<tr>
						<td>28/04/2023</td>
						<td>Pizza Marguerita, Coca-cola 600ml</td>
						<td>R$ 30,00</td>
					</tr>
					<tr>
						<td>24/04/2023</td>
						<td>Pizza Quatro Queijos</td>
						<td>R$ 25,00</td>
					</tr>
				</tbody>
			</table>
			<a href="#">Ver todos os pedidos</a>
		</section>
	</main>
</body>
