<h2>{{response.titulo}}</h2>
<div>
<form action="" method="POST"> 
    <hr>
        <p class="mb-4">
            Olá Sr(a) {{response.data.nome}}, para alterar a sua senha, preciso que você:<br>
            - Primeiro digite sua senha atual.<br>
            - Depois digite sua nova senha duas vezes.
        </p>
    <hr>
        <label for="senhaA" class="form-label">Senha Atual:</label>
        <input type="password" name="senhaA" id="senhaA" class="form-control"
            placeholder="Digite aqui a sua senha atual"/><br/>
        
        <label for="senhaN" class="form-label">Nova Senha:</label>
        <input type="password" name="senhaN" id="senhaN" class="form-control"
            placeholder="Digite aqui a sua nova senha"/><br/>

        <label for="senhaR" class="form-label">Repita a nova senha:</label>
        <input type="password" name="senhaR" id="senhaR" class="form-control"
            placeholder="Repita aqui a sua nova senha"/><br/>

        <button type="submit" class="btn btn-success">Alterar</button>
</form>
</div>