<head>
  <style>
    .div-fix {
        position: static;
        margin-top: 75px;
    }
  </style>
</head>


<div class="div-fix"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="card m-3 p-5">
    <h2>Sobre nós</h2>
   

</div>