<div class="card m-3 p-5">
    <h2>Sobre nós</h2>
    <ul class="list-group list-group-flush">
        {{#each responseModel.data}}
        <li class="list-group-item">
            <div class="row">
                <div class="col">{{sobre}}</div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>