<style>
 .alert alert-success{
    margin-top: 100px;
 }

 .alert alert-danger{
     margin-top: 100px;
 }
</style>

{{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}  
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger baixa">
        {{error_msg}}
    </div>
{{/if}}