<style>
  .card-sup {
    background-color: rgb(216, 189, 189);
  }



  body {
    background-color: #e6e6e6;
    margin: 0;
  }

  .div-fix {
    background-color: #043df8;
    /*width: 100%;*/

    position: static;
    margin-top: 53px;

  }

  <!--Card-->
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #444;

  }

  .card {
    background-image: linear-gradient(#f8cb04, #f8a304);
    overflow: hidden;
    border-radius: 8px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    box-shadow: #815432 0px 5px 15px;
    margin-top: 25px;
  }

  .card:hover {
    background-image: linear-gradient(#f8cb04, #f8a304);
  }

  .card .img {
    background-image: url('/images/AMBURGUI.jpg');
    background-position: center;
    background-size: cover;
    width: 360px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    transition: all .5s;
    z-index: 2;
  }

  .card:hover .img {
    opacity: 1;
    width: 400px;
  }

  .card .img .span {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
  }

  .card .content {
    padding: 0px 20px;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    transform: translateY(30px);
    opacity: 0;
  }

  .card:hover .content {
    padding: 20px;
    height: 260px;
    transform: translateY(0);
    opacity: 1;
  }

  .card .content p {
    margin-bottom: 0;
  }

  .card .content .title {
    font-size: 24px;
    font-weight: bold;
  }

  .card .content .desc {
    font-size: 15px;
    font-weight: 500;
    opacity: .7;
  }

  .card .arrow {
    padding: 15px;
    font-size: 28px;
    transform: rotate(-180deg);
    transition: all .5;
  }

  .card:hover .arrow {
    transform: rotate(0);
  }

  .card .arrow span {
    font-size: 24px;
  }

  <!--Footer-->footer {
    background-color: #f86e04;
    width: 100%;
    padding: 10%;
  }

  .footer_c {
    background-color: #f86e04;
    margin-bottom: -100px;
  }
</style>

<body>

  <div class="div-fix"></div>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/bem-vindo.jpg" class="d-block w-100" alt="bem vindo">
      </div>
      <div class="carousel-item">
        <img src="/images/AAAAAAA.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/AMBURGUI.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <div class="container">
    <div class="card">
      <div class="img">
        <span>Lo grande</span>
      </div>
      <div class="content">
        <span class="title">El grandioso</span>
        <p class="desc">O maior lanche do nosso cardápio, se não o da região!!
          Nele tem 5 carnes, muito queijo e muiiiiiito bacon
        </p>
      </div>

      <div class="arrow">
        <span>&#8673</span>
      </div>
    </div>
  </div>








  <div class="footer_c">
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
      </footer>
    </div>
  </div>
</body>