<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->

<div class="cadastro">
       <img src="/images/hamburger.png" alt=""> 
      <h1 class="logo">La Boucherie</h1> 

        <h3>Cadastro de Cliente</h3>

            {{>_msg}}

           

      <form method="post">
        <div class="form-group">
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" required>
        </div>
        <div class="form-group">
            <input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" maxlength="11" required>
        </div>
        <div class="form-group">
            <input type="text" name="endereco" id="endereco" placeholder="Digite seu endereço" required>
        </div>
        <div class="form-group">
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
          <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
        </div>
        <div class="form-group">
          <input type="password" id="password" name="senha" placeholder="Digite sua senha" required>
        </div>

  {{#if user.adm}}
        <div>
    <input type = "checkbox" id = "ativoAdm" name = "ativoAdm" value="0">
    <label for = "ativoAdm">Cliente</label>
  </div>

  <div>
    <input type = "checkbox" id = "ativoAdm" name = "ativoAdm" value="1">
    <label for = "ativoAdm">Administrador</label>
  </div>

  <div>
    <input type = "checkbox" id = "ativoAdm" name = "ativoAdm" value="2">
    <label for = "ativoAdm">Funcionário</label>
  </div>
   {{/if}}




        <div class="form-group">
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    <p style="font-weight: 300 ;">Já tem cadastro? <a href="/usuario/login"  style="text-decoration: none;color:#ff6f00;">Venha fazer login!</a></p>
    </div>
</div>
