<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->

<div class="lista" style="margin-bottom:0px ;">
  <h3 style="margin-bottom:0px ;">Confirmação de Pedido</h3>
  <hr>
  {{>_msg}}
</div>


<div class="card-maior">
<div class="lista" style="margin-top:0px ;">
  <div class="form-group" style="margin-top:0px ;">
    <a href="/cardapio"><button>Escolher mais lanches</button></a>
  </div>
</div>





<div class="card-confirma">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <p><strong>Nome:	&nbsp</strong> X tudo
        </div>
        <div class="col">
          <strong>Preço:	&nbsp</strong> $2,00
          </div>
        <div class="col">
          <strong>Quantidade:	&nbsp</strong> 5
          </div>
        <div class="col">
          <strong>Valor total:	&nbsp</strong> R$10,00
          </div>
        <div class="col d-flex flex-row-reverse">
          <a href="/cardapio/remove/{{id}}" class="btn btn-danger ms-2">Deletar</a>
        </div>
      </div>
    </li>


  </ul>
</div>
</div>