<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<form method="post" style="margin:0px auto">
    <hr>
    <h1 style="font-weight: 500; font: size 20px;">Deseja realmente deletar o Lanche
        <strong>{{response.data.nome}}</strong>
        <hr>
        <button type="submit" class="btn btn-success">Sim</button>
        <a href="/cardapio/list" class="btn btn-danger">Não</a>
    </h1>
</form>