<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->


<div class="card-final">


  <h3><img src="/images/hamburger.png" alt=""> Sem lanches no momento</h3>


</div>

<div class="lista" style="margin-top:-200px ;">
  <div class="form-group" style="margin-top:0px ;">
     {{#each response.data}}
      {{#if ../user.adm}}
       <a href="/cardapio/add"><button>Cadastrar Lanches</button></a>
       {{else}}
    <a href="/"><button>Ir para a tela de inicial</button></a>
    {{/if}}
       {{/each}}
   
  </div>
</div>

