<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin: 0px 0px"></div>
<h3>Lista de Pedidos</h3>
</div>
<hr>

<div class="card" style="width: 50%;">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <div class="row">
        <div class="col" style="font-size:20px"><strong>Número do Pedido: </strong>98</div>
        <div class="col" style="font-size:20px"><strong>Cliente: </strong>Zezinho do Gás</div>
        <div class="col d-flex flex-row-reverse">
          <a href="/usuario/find/{{id}}" class="btn btn-primary ms-2" style="font-size:20px">Detalhes</a>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col" style="font-size:20px"><strong>Número do Pedido: </strong>60</div>
        <div class="col" style="font-size:20px"><strong>Cliente: </strong>Zezinho do Açougue</div>
        <div class="col d-flex flex-row-reverse">
          <a href="/usuario/find/{{id}}" class="btn btn-primary ms-2" style="font-size:20px">Detalhes</a>
        </div>
      </div>
    </li>





  </ul>
</div> 


<hr>