<div class="div-fix-cardapio"></div> <!-- NÂO APAGA PELO AMOR DE DEUS -->
<div class="lista" style="margin: 0px 0px"></div>
<h3>Dados do Pedido</h3>
</div>
<hr>
<div>
    <div class="card" style="width: 50%">
        <div class="cadastro" style="margin-top: 0px;">

            <div class="form-group">
                <div class="form-label-editar">
                    <p><strong>N° Pedido:</strong></p>
                </div>
                <input type="text" name="nome" id="nome" value="1" disabled /><br />
            </div>

            <div class="form-group">
                <div class="form-label-editar">
                    <p><strong>Cliente:</strong></p>
                </div>
                <input type="text" name="nome" id="nome" value="Valdecir" disabled /><br />
            </div>











<div style="float: clear;">
            <div class="form-group" style="width: 45%; float:left">
                <div for="nome" class="form-label-editar">
                    <p><strong>Lanche:</strong></p>
                </div>
                <input type="text" name="email" id="email" value="X-tudo" disabled /><br />
            </div>


            <div class="form-group" style="width: 45%; float:right">
                <div for="nome" class="form-label-editar">
                    <p><strong>Quantidade:</strong></p>
                </div>
                <input type="text" name="telefone" id="telefone" value="5" disabled /><br />
            </div>
</div>








            <div class="form-group" style="float:initial;">
                <div for="nome" class="form-label-editar">
                    <p><strong> Total:</strong></p>
                </div>
                <input type="text" name="endereco" id="endereco" value="R$54,99" disabled /><br />
            </div>
            <div class="form-group">
                <div for="nome" class="form-label-editar">
                    <p><strong> Criado em:</strong></p>
                </div>
                <input type="text" name="createdAt" id="createdAt" value="24/05/2023" disabled /><br />
            </div>

            <a href="/pedido/" class="btn btn-success" style="margin-top: 10px;">Voltar</a>
        </div>
    </div>
</div>
<hr>